#transition-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

button {
  border-radius: 8px;
  border: none;
  background-color: #2563eb;
  color: white;
  font-size: 18px;
  padding: 16px 24px;
  text-align: center;
  box-sizing: inset;
  transition: ease-out 0.2s;
  font-size: 2rem;
  width: 200px;
  height: 100px;
}
button:hover{
  box-shadow: inset 100vh 0 0 0 navy;
  cursor: pointer;
  width: 400px;
  height:200px;
  font-size: 4rem;
}
